.f-screen{
    background-color: #9C27B0;
    /* background-color: #eee7f0; */
    height: 80px;
    width: 100%;
}
.logo{
    font-size: 50px;
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar{
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    /* color: #fff; */
}
li{
    list-style: none;
    padding: 0px 30px;
    
}

.menu-item{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-item:hover{
    color: #db98e7;
}